@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400&family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgba(242, 242, 242, 0.9490196078);
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

.Color1 {
  color: #004AAD;
}

.Color2 {
  color: #7ED957;
}

.Color3 {
  color: #FFBD59;
}

.Color4 {
  color: #0CC0DF;
}

.Encabezado {
  width: 100%;
  position: fixed;
  z-index: 111;
  transition: all 0.5s ease-in-out;
}
.Encabezado.active {
  background: #111;
}
.Encabezado.active .Encabezado__contenedor {
  padding: 0.5rem;
}
.Encabezado__contenedor {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.Encabezado__contenedor__logo {
  display: flex;
  align-items: center;
}
.Encabezado__contenedor__logo--imagen {
  width: 140px;
  transition: all 0.5s ease-in-out;
}
.Encabezado.active .Encabezado__contenedor__logo--imagen {
  width: 100px;
}
.Encabezado__contenedor__logo--titulo {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  margin-left: 1rem;
  color: white;
  transition: all 0.5s ease-in-out;
}
.Encabezado.active .Encabezado__contenedor__logo--titulo {
  font-size: 3rem;
}
.Encabezado__contenedor__menu--enlace {
  margin: 0 0.8rem;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  transition: all 0.5s ease-in-out;
}
.Encabezado.active .Encabezado__contenedor__menu--enlace {
  font-size: 1.5rem;
}

.Hero {
  width: 100%;
  height: 90vh;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Fondo.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Hero__contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: "Poppins", sans-serif;
}
.Hero__contenedor--titulo {
  font-size: 6rem;
  text-transform: uppercase;
}
.Hero__contenedor--titulo2 {
  font-size: 5.5rem;
}
.Hero__contenedor--parrafo {
  font-size: 3rem;
  width: 50%;
  padding-bottom: 1rem;
  border-bottom: 5px solid #C1FF72;
}

.ContenedorCuadro {
  position: relative;
  width: 100%;
}
.ContenedorCuadro .CuadroDatos {
  width: 55%;
  background: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 4rem;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 0.6rem solid #FFBD59;
}
.ContenedorCuadro .CuadroDatos__cuadro {
  font-family: "Roboto", sans-serif;
}
.ContenedorCuadro .CuadroDatos__cuadro--numero {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.ContenedorCuadro .CuadroDatos__cuadro--parrafo {
  font-size: 1.8rem;
  font-weight: 300;
  font-style: italic;
}

.ContenedorCetpro {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ContenedorCetpro__info {
  width: 50%;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
}
.ContenedorCetpro__info--titulo {
  font-size: 3rem;
  color: #004AAD;
  font-weight: 700;
  padding-left: 1rem;
  border-left: 1rem solid #FFBD59;
  margin-bottom: 2rem;
}
.ContenedorCetpro__info--parrafo {
  font-size: 1.8rem;
  line-height: 1.7;
  font-weight: 300;
}
.ContenedorCetpro__info--btn {
  margin-top: 0.5rem;
  padding: 1rem 3rem;
  background: #0CC0DF;
  color: white;
  font-weight: 700;
  border-radius: 1rem;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.ContenedorCetpro__info--btn:hover {
  letter-spacing: 0.2rem;
}
.ContenedorCetpro__Video {
  width: 50%;
}
.ContenedorCetpro__Video iframe {
  width: 100%;
  border-radius: 2rem;
}

.EstudiarCN {
  width: 100%;
  background: #111111;
  padding: 10rem;
}
.EstudiarCN__container {
  display: flex;
}
.EstudiarCN__imagen {
  width: 40%;
  position: relative;
}
.EstudiarCN__imagen--image {
  width: 90%;
  position: absolute;
  top: 50rem;
}
.EstudiarCN__informacion {
  width: 60%;
  color: white;
}
.EstudiarCN__informacion--titulo {
  font-size: 3.5rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 700;
}
.EstudiarCN__informacion__contenedor {
  width: 100%;
}
.EstudiarCN__informacion__contenedor ol {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-top: 2rem;
}
.EstudiarCN__informacion__contenedor ol li {
  font-size: 2rem;
  font-weight: 500;
}
.EstudiarCN__informacion__contenedor ol li ul li {
  font-size: 1.8rem;
  font-style: italic;
  margin-top: 1.3rem;
  font-weight: 300;
}

/*# sourceMappingURL=Estilos.css.map */
