.Encabezado{
    width: 100%;
    position: fixed;
    z-index: 111;
    transition: all .5s ease-in-out;
    &.active{
        background: #111;
    }
    &.active &__contenedor{
        padding: .5rem ;
    }
    &__contenedor{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        &__logo{
            display: flex;
            align-items: center;
            &--imagen{
                width: 140px;
                transition: all 0.5s ease-in-out;
            }
            .Encabezado.active &--imagen{
                width: 100px;
            }
            &--titulo{
                font-size: 4rem;
                font-family: $Poppins;
                margin-left: 1rem;
                color: $Blanco;
                transition: all 0.5s ease-in-out;
            }
            .Encabezado.active &--titulo{
                font-size: 3rem;
            }

        }
        &__menu{
            &--enlace{
                margin: 0 .8rem;
                font-size: 1.8rem;
                font-family: $Poppins;
                font-weight: 700;
                color: $Blanco;
                transition: all 0.5s ease-in-out;
            }
            .Encabezado.active &--enlace{
                font-size: 1.5rem;
            }
        }
    }
}